In [23]:
import numpy as np

In [24]:
import pandas as pd

In [25]:

dota_dataset = pd.read_csv('https://stepik.org/media/attachments/course/4852/dota_hero_stats.csv')

In [26]:
dota_dataset.head(5)

,Unnamed: 0,attack_type,id,legs,localized_name,name,primary_attr,roles
0,0,Melee,1,2,Anti-Mage,npc_dota_hero_antimage,agi,"['Carry', 'Escape', 'Nuker']"
1,1,Melee,2,2,Axe,npc_dota_hero_axe,str,"['Initiator', 'Durable', 'Disabler', 'Jungler']"
2,2,Ranged,3,4,Bane,npc_dota_hero_bane,int,"['Support', 'Disabler', 'Nuker', 'Durable']"
3,3,Melee,4,2,Bloodseeker,npc_dota_hero_bloodseeker,agi,"['Carry', 'Disabler', 'Jungler', 'Nuker', 'Ini..."
4,4,Ranged,5,2,Crystal Maiden,npc_dota_hero_crystal_maiden,int,"['Support', 'Disabler', 'Nuker', 'Jungler']"

In [27]:
dota_dataset.groupby('legs').count()

      Unnamed: 0  attack_type  id  localized_name  name  primary_attr  roles
legs
0             11           11  11              11    11            11     11
2             95           95  95              95    95            95     95
4              7            7   7               7     7             7      7
6              3            3   3               3     3             3      3
8              1            1   1               1     1             1      1

In [30]:
dota_dataset.groupby(['attack_type', 'primary_attr'], as_index=False).count()

  attack_type primary_attr  Unnamed: 0  id  legs  localized_name  name  roles
0       Melee          agi          19  19    19              19    19     19
1       Melee          int           2   2     2               2     2      2
2       Melee          str          35  35    35              35    35     35
3      Ranged          agi          18  18    18              18    18     18
4      Ranged          int          40  40    40              40    40     40
5      Ranged          str           3   3     3               3     3      3