In [4]:
import pandas as pd
import numpy as np

In [52]:
df = pd.read_csv('https://stepik.org/media/attachments/course/4852/my_stat_na.csv')

In [54]:
df.head(15)

    group  n_users  session_value time
0     9.0     -9.0            1.0    A
1    10.0      8.0            2.0    B
2    10.0     -1.0            4.0    A
3    10.0     -0.0            0.0    B
4     9.0    -15.0           -1.0    B
5    11.0    -16.0            0.0    B
6    10.0    -12.0            NaN    B
7    10.0      1.0            0.0    B
8     9.0      3.0            0.0    B
9    11.0     11.0            0.0    A
10   10.0     11.0            1.0    B
11   10.0      5.0            0.0    A
12   10.0    -19.0           -3.0    B
13   10.0      3.0            0.0    A
14   10.0     -5.0            0.0    B

In [58]:
df.query('n_users >= 0').median()

group            10.0
n_users           7.0
session_value     0.0
dtype: float64

In [56]:
values = {'session_value': 0}
df = df.fillna(value=values)

In [61]:
df.loc[df.n_users < 0, 'n_users']= 7.0

In [67]:
df.n_users = df.n_users.abs()

In [68]:
df

     group  n_users  session_value time
0      9.0      7.0            1.0    A
1     10.0      8.0            2.0    B
2     10.0      7.0            4.0    A
3     10.0      0.0            0.0    B
4      9.0      7.0           -1.0    B
5     11.0      7.0            0.0    B
6     10.0      7.0            0.0    B
7     10.0      1.0            0.0    B
8      9.0      3.0            0.0    B
9     11.0     11.0            0.0    A
10    10.0     11.0            1.0    B
11    10.0      5.0            0.0    A
12    10.0      7.0           -3.0    B
13    10.0      3.0            0.0    A
14    10.0      7.0            0.0    B
15    11.0     13.0            1.0    A
16    12.0      7.0            0.0    A
17     8.0      7.0            1.0    B
18    11.0      4.0            0.0    A
19     8.0      3.0            0.0    B
20     9.0     20.0            1.0    B
21    11.0      2.0           -3.0    B
22    10.0     13.0            0.0    A
23    11.0     11.0            2.0    B
24    10.0      7.0            0.0    A
25     9.0      7.0            1.0    A
26    12.0      7.0           -1.0    B
27    11.0      7.0            0.0    A
28    10.0     12.0            0.0    B
29    10.0     16.0            3.0    B
..     ...      ...            ...  ...
470   11.0      0.0           -2.0    B
471   10.0      6.0           -4.0    A
472   10.0      7.0            0.0    A
473   10.0      7.0            2.0    B
474   10.0      7.0           -3.0    A
475   10.0     17.0            0.0    A
476   11.0      7.0            2.0    B
477   10.0      7.0           -1.0    A
478   10.0      7.0           -3.0    A
479   11.0      2.0            2.0    B
480   10.0     15.0           -4.0    A
481   10.0      6.0           -3.0    A
482   11.0      9.0           -2.0    A
483   11.0      6.0            2.0    B
484   12.0      7.0            0.0    B
485   10.0     17.0           -1.0    B
486    8.0      7.0            1.0    A
487    9.0      0.0            4.0    B
488   11.0      3.0            0.0    B
489    9.0      4.0            0.0    B
490    9.0      3.0            0.0    A
491    9.0      7.0           -4.0    B
492   10.0      7.0           -1.0    B
493    9.0      3.0           -1.0    B
494   10.0     11.0           -1.0    A
495   10.0     14.0           -1.0    B
496   10.0      6.0           -1.0    A
497    7.0      7.0            0.0    A
498   11.0     16.0            0.0    A
499   10.0     15.0            0.0    A

[500 rows x 4 columns]

В переменную с именем subset_1 сохраните только первые 10 наблюдений и только 1 и 3 колонку.

В переменную с именем subset_2 сохраните все наблюдения кроме 1 и 5 и только 2 и 4 колонку.

In [37]:
 my_stat = df.rename(index=str, columns={"V1": "session_value",\
                               "V2": "group",\
                              "V3":"time", \
                              "V4":"n_users"})

In [53]:
my_stat.head(15)

    group  n_users  session_value time
0     9.0     -9.0            1.0    A
1    10.0      8.0            2.0    B
2    10.0     -1.0            4.0    A
3    10.0     -0.0            0.0    B
4     9.0    -15.0           -1.0    B
5    11.0    -16.0            0.0    B
6    10.0    -12.0            0.0    B
7    10.0      1.0            0.0    B
8     9.0      3.0            0.0    B
9    11.0     11.0            0.0    A
10   10.0     11.0            1.0    B
11   10.0      5.0            0.0    A
12   10.0    -19.0           -3.0    B
13   10.0      3.0            0.0    A
14   10.0     -5.0            0.0    B

In [48]:
values = {'session_value': 0}
my_stat = my_stat.fillna(value=values)

In [50]:
my_stat.head(5)

   group  n_users  session_value time
0    9.0     -9.0            1.0    A
1   10.0      8.0            2.0    B
2   10.0     -1.0            4.0    A
3   10.0     -0.0            0.0    B
4    9.0    -15.0           -1.0    B

In [38]:
median_values = {'n_users' : 7.5}
renamed_df = renamed_df.fillna(value=median_values)

In [ ]:
renamed_

In [30]:
renamed_df.loc[renamed_df.n_users < 0, 'n_users']= 7.0